
:root{
    --lightPink : #FDEEF0;
    --brightPink: #ED5564;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html{
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin:auto;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}
body{
    padding: 0;margin: 0;
    box-sizing: border-box;
    color: var(--brightPink);
    font-family: "Inter", serif;
    font-style: normal;
    z-index: 1;
    overflow-x: hidden;
    min-width: 100vw; 
    max-width: 100vw;
}
/* Header Section */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
#logo{
    display: flex;
    align-items: center;
    gap: 0.4em;
}
header b{
    font-weight: 300;
}

#logo-pic{
    width: 65px;
    height: 75px;
}

ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

#items{
    display: flex;
    align-items: center;
    gap: 2em;
}

#header-btn{
    font-size: 16px;
    padding: 5px;
    color: #FFFFFF;
    background-color: var(--brightPink);
    border: none;
    border-radius: 63px;
    height: 45px;
    width: 110px;
    transition: opacity, transform 0.4s ease-in-out;
    scroll-behavior: smooth;
}

#header-btn:hover{
    transform: translateX(-10px) translateY(-10px);
    opacity: 60%;
}

@media (min-width:870px) {
    .view-menu{
        display: none;
    }
}
#sidebar{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 250px;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(10px);
    opacity: 90%;
    box-shadow:-10px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--lightPink);
    gap: 3em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}




#close-btn{
    position:absolute;
    top: 20px;
    left: 10px;
}
@media (max-width:870px){
    #hideonDisplay{
        display: none;
    }
}
#items a{
    text-decoration: none;
    color: #FFFFFF;
}
#sidebar a{
    color:var(--brightPink)
}
#sidebar li{
    width: 100%;
    margin-left: 10px;
}


/* Main section */

#hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightPink);
    /* min-width: 500px;
    max-height: 500px ; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 63px;
}

#ui{
    aspect-ratio: 1/2;
    height: 600px;
    border-radius: 30px;
    transform: rotate(-13deg);
}

#download-btn{
    width: 160px;
    height: 55px;
    margin-top: 20px;
    background-color: var(--brightPink);
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

#download-btn:hover{
    opacity: 80%;
    
}

#center-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 64px;
}

#center-text b{
    font-size: 32px;
    font-weight: 500;
}

#textandButton{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Features Section */

#features{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--lightPink);
    min-width: 500px;
    max-height: 500px;;
    min-height: 350px ;
    border-radius: 63px ;
    margin-top:50px ;
    margin-bottom:50px ;
    margin-left:100px ;
    margin-right: 100px ;
    gap: 2em;
    text-align: center;
    font-size: 24px;
}
#f-img{
    width: 100px;
    height: 100px;
    fill: var(--brightPink);
}

#f-title{
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}
.feature-el p{
    margin: 0;padding: 0;
    
    
}

/* Testimonials Section */

#testimonials{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--lightPink);
    /* min-height: 400px;
    max-height: 500px; */
    border-radius: 63px;
    border:none;
    margin-top:50px ;
    margin-bottom:50px ;
    margin-left:100px ;
    margin-right: 100px ;
    gap: 3em;
}

/* NOBODY WILL NOTICE THIS: https://www.youtube.com/watch?v=dQw4w9WgXcQ */

#pfp{
    width: 150px;
    height: 150px;
    background-color: #ED5564;
    border-radius: 100%;
    margin-bottom: 15px;
    mix-blend-mode:luminosity;
}
.pfp1{
    background-image: url("Images/img1.jpg");
    background-size:cover ;
}
.pfp2{
    background-image: url("Images/img2.jpg");
    background-size:cover ;
}
.pfp3{
    background-image: url("Images/img3.jpg");
    background-size:cover ;
}

#t-el{
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:200px;
    text-align: center;

}

#footer-el{
    position:relative;
    top: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--brightPink);
    height: 50px;
    /* min-width: 100vw; */
    min-height: 50px;
    color: #FFFFFF;
}
#dev{
    font-weight: 100;
}

#github-pic{
    width: 30px;
    max-width: 10%;
    max-height: 100%;
    fill: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
}

#github-pic:hover{
    opacity: 70%;
}


/* Responsiveness */

/* lg */
@media (max-width: 911px) {
    #features{
        display: grid;
        padding: 10px;
        grid-template-columns: 100px 100px;
        text-align: center;
        column-gap: 5em;
    }
    .feature-el{
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    .feature-el:nth-child(2) #f-img{
        margin-top: 15px;
        width: 60px;
        height:60px;
    }
    #ui{
        border-radius: 20px ;
        width: 150px ;
        height: 270px;
    }
    #downloadBtn{
        height: 40px;
        width: 120px;
        font-size: 12px;
    }
    #header-btn{
        width: 90px;
        font-size: small;
    }
}

@media (max-width:894px) {
    #t-el{
        width: 190px;
        height: 300px;
        padding: 0;
        margin: 0;
    }
    #pfp{
        width: 60px;
        height: 60px;
    }
    #tel p{
        margin: 0;
        padding: 0;

    }
}

/* md */
@media (max-width: 825px) {
    #ui{
        display: none;
    }
    #header-btn{
        font-size: 10px;
        width: 100px;
        height: 40px;
    }
    #hero-section{
        justify-content: center;
        padding: 10px;
    }
    #testimonials{
        font-size: 12px;
    }
    #features{
        min-width: 300px;
    }
    #f-img{
        width: 70px;
        height: 60px;
    }
    #f-title{
        font-size:32px;
    }
    #center-text{
        font-size: 42px;
    }
    #textandButton{
        align-items: center;
    }
    #center-text b{
        font-size: 24px;
    }
    #pfp{
        width: 70px;
        height: 70px;
    }
    #t-el{
        width: 150px;
        height: 300px;
    }

}


/* sm */
@media (max-width: 720px) {
    #t-el{
        padding: 0;
        width: 75px;
        height: 300px;
    }
    #t-el #pfp, #tel p{
        margin: 0;
        padding: 0;

    }
    #header-btn{
        width: 50px;
        height: 30px;
        font-size: 7px;
    }
    #logo-pic{
        height: 40px;
        width: 35px;
    }
    #logo b{
        font-size: 10px;
    }
    #hero-section{
        margin: auto;
    }
    #features{
        margin: auto;
    }
    #testimonials{
        margin: auto;
        margin-top: 35px;
    }
}

/* xs */

@media (max-width: 510px) {
    #header-el{
        padding-left: 25px;
        padding-right: 25px;
    }
    #features{
        display: flex;
        min-width: 400px;
        width: 100vw;
        margin: auto;
    }
    #hero-section{
        min-height: 400px;
        min-width: 300px;
        margin: auto;
    }
    #center-text b{
        font-size:18px;
    }
    #center-text {
        text-align: center;
        align-items: center;
    }
    #pfp{
        width: 40px;
        height: 40px;
    }
    #testimonials{
        min-width: 320px;
        margin-left:auto ;
        margin-right: auto;
    }
    #footer-el{
        font-size: 12px;
        padding: 0;
        margin: auto;
        min-width:320px;   
    }

    #f-title{
        font-size: 24px ;
        text-align: center;
    }
    #features{
        display: grid;  
        min-width: 300px;
    }
} 

@media (max-width:418px) {

    #footer-el{
        margin: 0;padding: 0;
        min-width: 100vw;
        font-size: 8px;
    }
    #github-pic{
        width: 15px;
        height: 15px;
    }
    #features{
        min-width: 200px;
        margin: auto;
        column-gap: 1.5em;
    }
}